/*.block_online_users .content .list li.listentry {
    clear: both;
}

.block_online_users .content .list li.listentry .user {
    float: left;
    position: relative;
}

.block_online_users .content .list li.listentry .user .userpicture {
    vertical-align: text-bottom;
}

.block_online_users .content .list li.listentry .message {
    float: right;
    margin-top: 3px;
}

.block_online_users .content .info {
    text-align: center;
}


*/

#wrapper {
    width: 230px;
    overflow: hidden; /* will contain if #first is longer than #second */
}
#user {
    width: 170px;
    float:left;

}

#kys {
    overflow: hidden; /* if you don't want #second to wrap below #first */
    width: 19px;
    height: 19px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 25px;
    background: grey;
    padding-top: 4px;

}

#circle1 {
    overflow: hidden; /* if you don't want #second to wrap below #first */
    width: 13px;
    height: 13px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 25px;
    background: yellow;
    padding-top: 4px;

}

#circle2 {
    overflow: hidden; /* if you don't want #second to wrap below #first */
    width: 13px;
    height: 13px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 25px;
    background: orange;
    padding-top: 4px;

}

#circle3 {
    overflow: hidden; /* if you don't want #second to wrap below #first */
    width: 13px;
    height: 13px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 25px;
    background: orangered;
    padding-top: 4px;

}

select {
    float:left;

    width: 230px;
    height: 20px;
    background-color: #f1f1f1;
}

